@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Mono:wght@300;400;700&display=swap");

body {
  background-color: #fafafa;
  font-family: Poppins;
}

/* navbar style */
#logo {
  width: 50px;
}
#navbarNav {
  font-size: 19px;
}

/* akhir navbar */

/* main start */
#judul {
  margin-top: 9rem;
  color: #54735a;
}
#hubungi-kita {
  padding-top: 5rem;
  padding-bottom: 17rem;
}
#nama {
  padding-bottom: 10px;
}
/* main end */

/* footer */
#kaki {
  display: flex;
  justify-content: center;
}
/* footer end */

@media (max-width: 760px) {
  #judul {
    margin-top: 5rem;
  }
}
