@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Mono:wght@300;400;700&display=swap");

body {
  background-color: #fafafa;
  font-family: Poppins;
}

/* navbar style */
#logo {
  width: 50px;
}

#navbarNav {
  font-size: 19px;
}

/* akhir navbar */

/* main start */
#slider {
  margin-top: 2.5rem;
}

#judul {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 35px;
}
#profile {
  padding-bottom: 6rem;
}
#penjelasan1,
#penjelasan2,
#penjelasan3 {
  font-size: 20px;
}
/* main end */

/* footer */
#kaki {
  display: flex;
  justify-content: center;
}
/* footer end */

@media (max-width: 760px) {
  #judul {
    margin-top: 5rem;
  }

  #penjelasan1,
  #penjelasan2,
  #penjelasan3 {
    font-size: 15px;
  }
  #kaki {
    font-size: 12px;
  }
}
